

 .app-container{
   min-height: 525px;
   margin: 30px 0;
   box-shadow: 0 0 4px 0 #ccc;
 }

.home {
  list-style-type: none;
  /* margin-top: 150px; */
}

.footer {
background-color: lightblue;
}

.details {
  margin-bottom: 20px;
}

.index-footer {
  position: relative;
}


.header{
  width: 100%;
  padding: 20px 0;
  background: #e1e1e1;
  text-align: center;
  color:#660066;
  text-transform: uppercase;
  }

 footer{
  padding: 10px 20px;
  background: #c3c3a2;
  color: #ffffff;
  }
  .full{
    min-height: 100vh;
    margin-bottom: 0;
  }

  .App{
      text-align: center;
      min-height: 100vh;
      display: flex;
      /* justify-content: center;
      align-items: center; */
      flex-flow: column wrap;
  }
